<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</li>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><img src="https://target.scene7.com/is/image/Target/GUEST_1b99a4de-86e8-4354-b296-6a96846f34b1?wid=488&hei=488&fmt=pjpeg" alt=""></li>
		</ul>
	</li>
</ul>