.main-nav {
    display: flex;  
    justify-content: space-between;
    padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
    display: flex; 
    align-items: center;
    font-family: papyrus; 
    font-size: 20px;
    text-transform: uppercase; 

}

.left-nav > ul > li {

}

.right-nav > ul > li  {

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
    background-color: $lightest-gray;
}

.left-nav span {

}


.right-nav i {
    margin: 10px;
    font-size: 200px;
}